*{
    margin: 0px;
    padding: 0px;
}

.resolucion{
    width:70%;
    text-align: center ;
}

.cabecera{
    display: flex;
    justify-content: center;
    width: 96%;
    height: 120px;
    padding: 0% 2%;
}
.cabecera h1{
    font: bod 54px Arial,sans-serif;
}
.cabecera > div{
    flex: 1;
    max-width: 960px;
    padding-top: 45px;
}


/************************/
/*TRABAJANDO CON EL MENU*/
.menu{
    display: flex;
    justify-content: center;
    max-width: 96%;
    height: 60px;
    padding: 0% 2%;
    border-top: 1px solid #03222a;
    border-bottom: 1px solid #03222a;
    white-space: nowrap;
}
.menu >div{
    flex: 0.3;
    max-width: 960px;
}
.menu ul{
    list-style-type: none;
}
.menu li {
    display: inline-block;
    height: 35px;
    padding: 15px 10px 0px 10px;
    margin-right: 5px;
}
.menu li:hover{
    background-color: rgb(183, 224, 240);
    border-bottom: 3px solid #03222a26;
}
.menu a{
    font: bold 18px Arial, sans-serif; 
    color: rgb(43, 94, 215);
    text-decoration: none;
}


/**************************/
/*TRABAJANDO CON EL CUERPO*/

main {
    display: flex;
    justify-content: center;
    width: 96%;
    padding: 2%;
}

main > div {
    display: flex;
    flex: 1;
    max-width: 960px;
}
.cuerpo{
    flex: 1;
    margin-right: 20px;
    padding-top: 25px;
    background-color: rgb(43, 94, 215);
    border-radius: 10px;
}
.infoAdicional{
    width: 320px;
    padding: 20px;
    background-color: rgb(43, 94, 215);
    border-radius: 10px;

}
.infoAdicional h1{
    font: bold 18px Arial, sans-serif;
    color: #050700;
    margin-bottom: 15px;
}

/******************************/
/*TRABAJANDO CON LOS ARTICULOS*/


article{
    border: 5px solid black;
    overflow: auto;
    margin: 10px;
}
.noticia1 {
   float: left;
   margin: 0px 10px;
   border-color:  rgb(43, 94, 215);
}
.borrarFloat{
    clear: both;
}
.noticia2 {
   float: left;
   margin: 0px 10px;
   border-color:  rgb(43, 94, 215);
}
.noticia3 {
    float: left;
    margin: 0px 10px;
    border-color: rgb(43, 94, 215);
}
.noticia4 {
    float: left;
    margin: 0px 10px;
    border-color: rgb(43, 94, 215);
}
.noticia5 {
    float: left;
    margin: 0px 10px;
    border-color: rgb(43, 94, 215);
}

.wiggle {
    display:block;
    margin:0 auto;
    width:70px;
    height:40px;
    box-shadow:8px 8px 1px 0 rgba(0,0,0,.15);
  }

  .wiggle:hover {
    -webkit-animation:none;
  }
  .short-animate {
    -webkit-transition:.5s ease-in-out;
    -moz-transition:.5s ease-in-out;
    -ms-transition:.5s ease-in-out;
    -o-transition:.5s ease-in-out;
    transition:.5s ease-in-out;
  }
  
  .long-animate {
    -webkit-transition: .5s .5s ease-in-out;
    -moz-transition: .5s .5s ease-in-out;
    -ms-transition: .5s .5s ease-in-out;
    -o-transition:.5s .5s ease-in-out;
    transition:.5s .5s ease-in-out;
  }
  .lightbox {
    position:fixed;
    top:-100%;
    bottom:100%;
    left:0;
    right:0;
    background:#984447;
    z-index:501;
    opacity:0;
  }
  
  .lightbox img {
    position:absolute;
    margin:auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    max-width:0%;
    max-height:0%;
  }
  
  #lightbox-controls {
    position:fixed;
    height:70px;
    width:70px;
    top:-70px;
    right:0;
    z-index:502;
    background:rgba(0,0,0,.1);
  }
  
  #close-lightbox {
    display:block;
    position:absolute;
    overflow:hidden;
    height:50px;
    width:50px;
    text-indent:-5000px;
    right:10px;
    top:10px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
  }
  
  #close-lightbox:before {
    content:'';
    display:block;
    position:absolute;
    height:0px;
    width:3px;
    left:24px;
    top:0;
    background:white;
    border-radius:2px;
    -webkit-transition: .5s .5s ease-in-out;
    -moz-transition: .5s .5s ease-in-out;
    -ms-transition: .5s .5s ease-in-out;
    -o-transition:.5s .5s ease-in-out;
    transition:.5s .5s ease-in-out;
  }
  
  html,body {
    height:100%;
    min-height:100%;
  }
  #close-lightbox:after {
    content:'';
    display:block;
    position:absolute;
    width:0px;
    height:3px;
    top:24px;
    left:0;
    background:white;
    border-radius:2px;
    -webkit-transition: .5s 1s ease-in-out;
    -moz-transition: .5s 1s ease-in-out;
    -ms-transition: .5s 1s ease-in-out;
    -o-transition:.5s 1s ease-in-out;
    transition:.5s 1s ease-in-out;
  }
  
  .lightbox:target {
    top:0%;
    bottom:0%;
    opacity:1;
  }
  
  .lightbox:target img {
    max-width:100%;
    max-height:100%;
  }
  
  .lightbox:target ~ #lightbox-controls {
    top:0px;
  }
  
  .lightbox:target ~ #lightbox-controls #close-lightbox:after {
    width:50px;
  }
  
  .lightbox:target ~ #lightbox-controls #close-lightbox:before {
    height:50px;
  }

  #carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;

    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;

    height: 500px;
    width: 300%;
}

#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}

.imagenes{
    height: 500px;
    width: 100%;
}

.carrusel-elemento {
    float: left;
    width: 33.333%;
}

body{
    font-family:  sans-serif;
    text-transform: capitalize;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.footer{
    padding: 10px 0;
}

.footer-row{
    display: flex;
    flex-wrap:wrap
}

.footer-links{
    width: 25%;
    padding: 0 0;
}

.footer-links h4{
    font-size: 25px;
    color: black;
    margin-bottom:  25px;
    font-weight: 500;
    border-bottom: 2px solid;
    padding-bottom: 5px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 20px;
    transition: all .3s ease;
}

.footer-links ul li a:hover{
    color: white;
    padding-left: 6px;
}

.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;
}

.social-link a:hover{
    background-color: black;
  }
    

